body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: blue;
  opacity:0.9;
  text-align: center;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}
header img {
  margin-left: 10px;
  height: 50px;
  opacity: 0.9;
}
header a {
  color: seashell;
  opacity: 0.9;
  margin: 0 10px;
}
.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
}
#mission {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("photos/mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin-bottom: 50px;
}
#mission div {
  background-color: black;
  width: 100%;
}
#mission h2 {
  margin: 10px;
  padding: 5px 0 10px 0;
}
#mission h4 {
  margin: 10px;
}
#featuredtea {
  text-align: center;
  width: 1000px;
  height: 700px;
  background-color: black;
}
#featuredtea img {
  height: 200px;
  width: 300px;
}
#featuredtea h2 {
  opacity: 0.9;
}
.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.items h4 {
  margin: 10px 0 20px 0;
}
.items div {
  margin: 0 15px;
}
#locations {
  background-image: url("photos/locations-background.jpg");
  height: 575px;
  width: 1200px;
  margin-top: 50px;
}
.address {
  display: flex;
  justify-content: center;
  align-items: center;
}
.address div {
  background-color: black;
  width: 300px;
  height: 300px;
  opacity: 1;
  margin: 0 20px;
  display: flex;
  flex-flow: column nowrap;
}
